{% extends 'core/base.html' %}
{% block title %}about{% endblock %}




{% block content %}
<h2>Acerca de</h2>
<p>Me llamo Yeraldo y soy programador</p>
<p>Me gusta programar en Python y Django</p>
<p>Me gusta la música y tocar la guitarra</p>
<p>Me gusta el cine y la lectura</p>
<p>Me gusta la naturaleza y los animales</p>
<p>Me gusta la fotografía y la pintura</p>
<p>Me gusta la cocina y la comida sana</p>
<p>Me gusta el deporte y el yoga</p>
<p>Me gusta viajar y conocer otras culturas</p>
<p>Me gusta la tecnología y la innovación</p>
<p>Me gusta la educación y la formación</p>
<p>Me gusta la solidaridad y la cooperación</p>
{% endblock %}

